
        <div class="row">
          <!-- o'ng qism -->
          <div class="col-md-9">


            <div class="row">
              <div class="col-md-6">
                <a ><h2 class="m-3 pl-4  text-dark text-left " style="font-size: 23px;"><%= data.news._id%>
                </h2></a>
              </div>
              <div class="col-md-6">
                <a href="#"><p class="m-3  text-dark text-right " style="font-size: 18px;">Барчаси</p></a>
              </div>
            </div>
            <div class="row">
            <% for(item of data.news) {%>
              <div class="col-md-4 p-3">
                <a href="<%= `/new/alls/${item._id}`%>"><img class="p-3"  style="width: 100%;" src="<%= item.image%>" alt=""></a>
                <a href="<%= `/new/alls/${item._id}`%>"><p class=" text-dark" style="font-size: 15px;"><%= item.title%></p></a>
              </div>
              <% }%>
            </div>
              <div class="row">
            </div>
            <!-- o'ng blocni oxiri -->
          </div>
          <!-- saidbar -->
          <div class="col-md-3">
            <div class="blokk  border-bottom"> 
                <!-- <div><div class="bloc bg-dark border rounded-circle" style="width: 18px; height: 18px;"></div></div> -->
                <div > <a href="#"><h2 class="m-3  text-dark " style="font-size: 23px;">Сўнгги янгиликлар</h2></a></div>
                <% for(item of data.last) {%>
            <p class="text-muted m-3" style="font-size:15px;"><%= item.createdAt.toTimeString().split(" ")[0]%></p>
            <a href="<%= `/new/alls/${item._id}`%>"><p  class=" m-3  text-dark" style="font-size: 18px;"><%= item.title%></p></a>
                  <%}%>
          </div>
            <button type="button" class="btn btn-outline-dark p-2 ml-3 px-5">Кўпроқ янгилик </button>
          </div>
        </div>
            <div class="row">
      <div class="col-md-9">
        <img src="/userpage/img/rasm4.png" alt="">
      </div>
      <div class="col-md-3 ">
        <div class="btn btn-group ">
          <button type="button" class="btn btn-dark border rounded-pill  mt-5 p-3  px-4">GOOGLE PLAY</button>
          <button type="button" class="btn btn-dark border rounded-pill mt-5 p-3  px-4">Apple Story</button>
        </div>
      </div>
      </div>


    </div>